.class-info {
    background: #d8d6d6;
    position: relative;
    width: 100%;
    margin-top: 50px;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.info-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(56, 20, 20); 
}
.adresse {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}
.adresse p {
    margin-top: 2%;
}
.horaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horaire p {
    margin-top: 2%;
}
.map {
    flex-basis: 50%;
    padding-right: 3%;
}
.map iframe {
    width: 100%;
    height: 500px;
}
@media screen and (max-width: 1200px) {
    .class-info {
        flex-direction: column;
    }
    .info-content {
        flex-direction: row;
    }
    .map {
        margin-top: 3%;
        padding-left: 3%;
    }
}
@media screen and (max-width: 700px) {
    .info-content {
        flex-direction: column;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .horaire {
        margin-top: 3%;
    }
    .horaire .first {
        margin-top: 0;
    }
    .adresse .first {
        margin-top: 0;
    }
}