@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Rajdhani;
}

body {
    width: 100%;
    /* height: 100vh; */
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.background-top{
    position: absolute;
    width: 100%;
    background: #d8d6d6;
    height: 25%;
    transform: skewY(-4deg);
    transform-origin: 0%;
    z-index: 0;
}

.code-info {
    width: 100%; 
    margin-top: 53px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    z-index: 1;
}
.code-info h1 {
    flex-basis: 100%;
    text-align: center;
    margin-top: 50px;

    font-size: 50px;
    letter-spacing: 0.6em;
}
.code-alerte {
    flex-basis: 90%;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid red;

    display: flex;
}
.code-alerte-image{
    flex-basis: 20%;

    display: flex;
    justify-content: center;
}
.code-alerte-image img {
    max-width: 100%;
    height: auto;
}
.code-alerte-texte {
    flex-basis: 80%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.code-alerte-texte p {
    flex-basis: 100%;
    text-align: justify;

    font-size: 30px;
}
.code-alerte-texte h4 {
    flex-basis: 100%;
    text-align: justify; 

    font-size: 30px;
}

.point-code {
    width: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
 /* margin-bottom: 306px; */
}
.point-code h2{
    margin-top: 5%;

    flex-basis: 100%;
    text-align: center;

    font-size: 30px;
}
.point-code p {
    flex-basis: 100%;
    text-align: center;
    font-style: italic;
}
.arrow {
    position: relative;
    height: 306px;
    z-index: 1;

    display: flex;
    justify-content: center;
}
.arrow i {
    align-self: center;
    font-size: 100px;
    animation: 1s slidedown infinite;
} 
@keyframes slidedown {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}
.rule-container {
    width: 80%;
    height: 1000px;
    padding: 10px 10px 10px 5%;
    border-left: 5px dashed rgb(56, 20, 20);
    border-right: 5px dashed rgb(56, 20, 20);

    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
}
.rule-container-first {
    flex-basis: 100%;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rule-title {
    position: absolute;
    margin-bottom: 50px;
    left: 55%;
    color: rgb(56, 20, 20); 
    opacity: 0;
}
.title-show {
    opacity: 1;
    transition: all 1s ease;  
}
.rule{
    /* flex-basis: 30%; */
    border: 2px solid transparent;
    background: 
        linear-gradient(to right, rgb(236, 234, 234), rgb(236, 234, 234)), 
        linear-gradient(260deg, #cb2d3e, #ef473a);
    background-clip: padding-box, border-box;
    /* background-origin: padding-box, border-box; */
    border-radius: 10px;
    padding: 50px;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.65);
    transform: translateX(-70em);
    scale: 0;

    display: flex;
    flex-direction: column; 
}
.rule p {
    text-align: justify;
}
.rule :last-child {
    font-weight: bolder;
}
.rule-show {
    transform: translateX(0);
    scale: 1;
    transition: all 1s ease;   
}
.rule-container-second {
    flex-basis: 100%;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
}
.rule-image {
    position: relative;
    z-index: -1;

    right: 5%;
    bottom: 90px;
    transform: translateX(150%);
}
.rule-image-show {
    transform: translateX(0%);
    transition: all 1s ease;
}
.rule-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.65);
}

@media screen and (max-width: 1470px) {
    .rule-container{
        width: 95%;
        padding: 10px 10px 10px 10px; 
        border-left: 0px dashed rgb(56, 20, 20);
        border-right: 0px dashed rgb(56, 20, 20);
    }
    .rule-image {
        right: 0;
    }
}
@media screen and (max-width: 1350px) {
    .code-alerte-image img {
        width: 150px;
    }
    .code-alerte-texte p {
        font-size: 25px;
    }
    .code-alerte-texte h4 {
        font-size: 25px;
    }
}
@media screen and (max-width: 1200px) {
    .rule-container-first {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .rule {
        align-self: flex-end;
    }
    .rule-title {
        position: relative;
        margin-bottom: 0px;
        left: 0;

        flex-basis: 100%;
        text-align: center;
    }
    .rule-container-second {
        justify-content: center;
    }
    .rule-image {
        right: 0%;
        bottom: 0px;
    }
}
@media screen and (max-width: 1004px) {
    .code-alerte {
        flex-basis: 90%;
        margin-top: 5%;
        padding: 20px;
        border: 1px solid red;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .code-alerte-texte {
        margin-top: 20px;
    }
    .code-alerte-texte h4 {
        margin-top: 20px;
    }
    .point-code {
        margin-top: 50px;
    }
}
@media screen and (max-width: 687px) {
    .code-alerte-texte p {
        font-size: 20px;
    }
    .code-alerte-texte h4 {
        font-size: 20px;
    }
    .point-code h2{
        font-size: 20px;
    }
}
@media screen and (max-width: 500px) {
    .code-info h1 {
        letter-spacing: 0.1em;
    }
}
@media screen and (max-width: 450px) {
    .rule-container {
        height: 800px;
    }
}