@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Rajdhani;
}

body {
    position: relative;
    width: 100%;
    /* height: 100vh; */
}
.background-top{
    position: absolute;
    width: 100%;
    background: #d8d6d6;
    height: 25%;
    transform: skewY(-4deg);
    transform-origin: 0%;
    z-index: 0;
}
.content {
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.contact {
    position: relative;
    flex-basis: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 8px 8px 15px 0px#A9A9A9;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    padding: 2% 3% 2% 3%;
}
.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('contact-back.jpg');
    background-repeat: no-repeat;
     background-position-y: -250px;
}
.contact-title {
    background: rgba(0, 0, 0, 50%);
}
.head h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}
.head .separation {
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to bottom, #cb2d3e, #ef473a);
}
.contact-form {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.champs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.champs label {
    flex-basis: 100%;
    text-align: start;
    margin-top: 2%;
    font-weight: bold;
    color: rgb(56, 20, 20);
}
.champs input {
    flex-basis: 100%;
    margin-top: 1%;
    border-style: none;

    border-bottom: 2px solid rgb(56, 20, 20);
}
.champs input:valid {
    border-color:rgb(48, 204, 0);
}
.champs textarea {
    flex-basis: 100%;
    margin-top: 1%;
    height: 200px;
    resize: none;
    border-style: none;
    border: 2px solid rgb(56, 20, 20);
}
.champs textarea:valid {
    border-color:rgb(48, 204, 0);
}
.submit {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
input[type="submit"] {
    border-style: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(56, 20, 20);
    background-image: linear-gradient(to bottom, #cb2d3e, #ef473a);
    border: 3px solid transparent;
    border-radius: 10px;
    background: 
    linear-gradient(to right, white, white), 
    /* linear-gradient(260deg, #d92027 0%, #ff9234 100%); */
    linear-gradient(260deg, #cb2d3e, #ef473a);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    width: 25%;
    height: 30px;
}
input[type="submit"]:hover {
    cursor: pointer;
    /* transform: scale(1.1); */
    color: white;
    background: 
    linear-gradient(260deg, #cb2d3e, #ef473a);
}
@media screen and (max-width: 800px) {
    .contact {
        flex-basis: 90%;
    }
    input[type="submit"] {
        background: 
        linear-gradient(260deg, #cb2d3e, #ef473a);
        color: white;
    }
}