@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

#id-commentaire {
    position: relative;
    max-width: 100%;
}

.container2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
    justify-content: center;
    z-index: 1;
}

.container-avis {
    position: relative;
    /* width: 900px; */
    flex-basis: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 5%; */
}
.row:nth-child(1){
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
}
.row:nth-child(2){
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.row:nth-child(3){
    flex-basis: 100%;
    display: flex;
    justify-content: start;
    margin-top: 3%;
}


.commentaire {
    position: relative;
    background: white;
    overflow: hidden;
    padding: 5%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 8px 8px 15px 0px#646464;
    z-index: 2;

    transition: all 1s;
}
.commentaire p:nth-child(1) {
    text-align: center;
    font-style: italic;
    line-height: 1;
    margin-bottom: 5%;
}
.commentaire p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}
.commentaire span {
    background-image: linear-gradient(to bottom, #cb2d3e, #ef473a);
    width: 100%;
    height: 5px;
}

.commentaire:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s ease
}
/* .commentaire:hover span{
    position: absolute;
    background-color: red;
    width: 600px;
    height: 300px;
    left: -100px;
    bottom: -245px;
    border-radius: 50%;
    z-index: -1;

    transition: width 1s, height 0.3s;

} */
/* @media screen and (min-width:1500px) {
    .commentaire:hover span{
        width: 700px;
    }
} */