.container-liens {
    flex-basis: 100%;
    height: 100px;
    background-image: url("Image/Fond-liens.png");
    background-position-x: center;
    background-position-y: 250px;
    display: flex;
}
.liens-content {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}
.liens-content h1 {
    letter-spacing: 3px;
}
.liens-image:first-child {
    border-radius: 5px;
    overflow: hidden;
}
.liens-image:last-child {
    border-radius: 5px;
    overflow: hidden;
}
@keyframes shake1 {
    from {
        rotate: 0deg;
    }
    50% {
        rotate: 3deg;
    }
    to {
        rotate: -3deg;
    }
}
@keyframes shake2 {
    from {
        rotate: 0deg;
    }
    50% {
        rotate: -3deg;
    }
    to {
        rotate: 3deg;
    }
}
.liens-image:hover{
    cursor: pointer;
    scale: 1.1;
    animation-play-state: paused;
}
.liens-move1 {
    animation: alternate shake1 0.5s infinite;
}
.liens-move2 {
    animation: alternate shake2 0.5s infinite;
}
.liens-move1:hover{
    cursor: pointer;
    scale: 1.1;
    animation-play-state: paused;
}
.liens-move2:hover{
    cursor: pointer;
    scale: 1.1;
    animation-play-state: paused;
}

@media screen and (max-width:700px) {
    .container-liens {
        height: 250px;
    }
    .liens-content {
        flex-direction: column;
    }
}