* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    position: relative;
    min-height: 100vh;
}
.background-top{
    position: absolute;
    width: 100%;
    background: #d8d6d6;
    height: 25%;
    transform: skewY(-4deg);
    transform-origin: 0%;
    z-index: 0;
}
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.container span {
    /* position: fixed; */
    width: 100%;
    height: 53px;
    margin-top: 53px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container span p {
    position: absolute;
    color: white;
    font-size: 20px;
    text-align: center;
}
.visible {
    animation: 3s ease textAnimVisible
}
.hidden {
    opacity: 0;
    animation: 3s ease textAnimHide
}
@keyframes textAnimVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes textAnimHide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.content {
    padding-left: 3%;
    padding-right: 3%;
}

.moveCar {
    flex-basis: 100%;
    display: flex;
}
.moveCar img{
    flex-basis: 30%;
    width: 500px;
    align-content: flex-start;
    padding-right: 50px;
}
.moveCar p{
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}
.desc p{
    flex-basis: 100%;   
    margin-top: 3%; 
    text-align: center;
    font-size: xx-large;
}

@media screen and (max-width:1500px) {
    .moveCar p{
        font-size: x-large;
    }
}
@media screen and (max-width:1350px) {
    .moveCar {
        position: relative;
        height: 250px;
        justify-content: center;
        flex-basis: 100%;
        display: flex;
        align-items: flex-start;
        z-index: 1;
    }
    .moveCar img{
        flex-basis: 100%;
        position: absolute;
        margin-top: -2%;
        width: 500px;
        opacity: 0.2;
        padding-right: 0;
        z-index: -2;
    }
    .moveCar p{
        flex-basis: 100%;
        text-align: center;
        margin-top: 7%;
    }
}
@media screen and (max-width:840px) {
    .container span p {
        font-size: 15px;
    }
}
@media screen and (max-width:750px) {
    .moveCar p{
        font-size: 24px;
    }
    .moveCar img{
        flex-basis: 100%;
        position: absolute;
        margin-top: 0;
        width: 300px;
        opacity: 0.2;
        z-index: -1;
    }
}
@media screen and (max-width:700px) {
    .background-top {
        height: 20%;
    }
}
@media screen and (max-width:600px) {
    .moveCar p{
        font-size: 20px;
    }
    .background-top {
        height: 18%;
    }
}
@media screen and (max-width:500px) {
    .moveCar p{
        font-size: 17px;
        font-weight: 550;
    }
    .background-top {
        height: 18%;
    }
}
@media screen and (max-width:520px) {
    .container span p {
        font-size: 13px;
    }
}
@media screen and (max-width:400px) {
    .moveCar img{
        bottom: 90px;
    }
}