@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Rajdhani;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.container-supp {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
}
.row{
    margin-top: 3%;
    flex-basis: 100%;
    display: flex;
    /* justify-content: center; */
}

.info-supplement {
    position: relative;
    overflow: hidden;
    padding: 5%;
    width: auto;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 8px 8px 15px 0px#A9A9A9;

    transition: all 1s;
}
.info-supplement h1 {
    margin-bottom: 4%;
}
.flex-supp {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.supp {
    /* text-align: center; */
    margin-top: 1%;
}
.prix {
    font-weight: bold;
}
.info-supplement span {
    background-color: red;
    width: 100%;
    height: 5px;
    margin-top: 5%;
}

/* .info-supplement:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s ease
} */
/* .info-supplement:hover span{
    position: absolute;
    background-color: red;
    width: 600px;
    height: 300px;
    left: -100px;
    bottom: -245px;
    border-radius: 50%;
    z-index: -1;

    transition: width 1s, height 0.3s;

}*/

.gift {
    flex-basis: 50%;
    width: auto;
    border-radius: 5px;
    margin-left: 3%;
    background-image: linear-gradient(to bottom, #cb2d3e, #ef473a);
    box-shadow: 8px 8px 15px 0px#A9A9A9;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;

    transition: all 1s;
}
.gift-image {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}
.gift-image div {
    position: absolute;
    opacity: 0;

    transition: all 0.5s;
}
.gift-image div img {
    height: 90px;
}
.gift-icon {
    font-size: 100px;
    z-index: 1;

    transition: all 1s ease;
}
.gift h3 {
    margin-top: auto;
}
.gift-span {
    background-color: white;
    width: 100%;
    height: 5px;
    margin-top: 5%;
}
/* .gift:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s ease
} */
.gift:hover .gift-image div {
    transform: translateX(60px);
    opacity: 1;
    transition: all 1s ease;
} 
.gift:hover .gift-icon {
    transform: translateX(-50px);
    transition: all 1s ease;
} 
@media screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
    .gift {
       margin-left: 0;
       margin-top: 5%;
    }
    .gift-image div {
        transform: translateX(60px);
        opacity: 1;
    }
    .gift-icon {
        transform: translateX(-50px);
    }
}
@media screen and (max-width: 400px) {
    .supp {
        font-size: 14px;
        font-weight: 700;
    }
}