@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Rajdhani;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  /* background-image: linear-gradient(260deg, #d92027 0%, #ff9234 100%); */
  /* background-image: linear-gradient(to bottom, #d92027 25%, #ff923400); */
  /* background-image: linear-gradient(260deg, white 1%, #ff0800 60%); */
  background-image: linear-gradient(to bottom, #cb2d3e, #ef473a);
  /* overflow: hidden; */
  z-index: 5;
}

.nav a {
  float: left;
  margin-left: 5%;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all .2s ease-in-out; 
}

.nav a:hover {
 color: #f4f3f3;
 transform: scale(1.1);
}
.nav a.icon:hover {
  color: #000000;
  transform: scale(1.1);
 }

.nav a.active {
  color: #f4f6ff;
}

.nav .icon {
  display: none;
  color: #000000;
} 

@media screen and (max-width: 920px) {
  .nav a{
   transform: scale(0.80);
   margin-left: 3%;
  }
}

/* @media screen and (max-width: 790px) {
  .nav a{
    transform: scale(0.70);
    margin-left: 2%;
  }
} */

@media screen and (max-width: 1100px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 1100px) {
  .nav.responsive {position: fixed;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 