@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rajdhani;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex ;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background: #FFF6E3; */
    background: white;
}

/* ////////////////////////////////////////////////////////////////////////// */

.background-top{
    position: absolute;
    width: 100%;
    background: #d8d6d6;
    height: 30%;
    transform: skewY(-4deg);
    transform-origin: 0%;
    z-index: -1;
}

.header {
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    margin-top: 53px;
}

.moveCar {
    flex-basis: 100%;
    display: flex;
}
.moveCar img{
    flex-basis: 30%;
    width: 500px;
    align-content: flex-start;
    padding-right: 50px;
}
.moveCar h1{
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: black;
    font-size: 50px;
    text-align: right;
    letter-spacing: 0.6em;
}

#content {
    position: relative;
    width: 100%;
}
.container {
    position: relative;
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;
    /* background: #d32f2f; */
    margin-top: 5%;
    /* z-index: -1; */
}

.item {
    width: 300px;
    height: 300px;
    margin: 1em;
    padding: 5px;
    border-radius: 5% ;
    /* border:  5px ridge #09090B; */
    border:  5px ridge#595959;
    text-align: center;
    color: white;
    /* background: #212121; */
    /* background-color: #333333AA; */
    background-color: rgba(51, 51, 51, 0.8);
    transition-duration: 0.7s;
    overflow: hidden;
    font-size: 30px;
}
.item p {
    position: relative;
    top: 10%;
    transition: all;
    transition-duration: 0.7s;
}
.item div {
    width: 50%;
    height: 50%;
    position: relative;
    left: 25%;
    top: 20%;
    transition: top;
    transition-duration: 0.7s;
}
.item div img {
    width: 100%;
    height: 100%;
}
.item a {
    display: block;
    position: relative;
    /* visibility: hidden; */
    top: 40%;
    left: 25%;
    width: 50%;
    height: 30px;
    line-height: 30px;
    background: #333333;
    color: white;
    border-radius: 30px;
    border: 2px solid white; 
    opacity: 0;
    transition-property: top;
    transition-duration: 0.7s;
    font-size: 20px;
}
.item a:hover {
    background: white;
    border: 2px solid white; 
    /* color: #212121; */
    color: #000000;
    cursor: pointer;
}
.item:first-child a:hover {
    color: #ff0000;
}
.item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px 5px #E20000;
    opacity: 1 ;
    /* border: none; */
    /* padding: .5rem; */
    border: 5px solid transparent;
    border-radius: 5%;
    background: 
        linear-gradient(to right, #333333, #333333), 
        /* linear-gradient(260deg, #d92027 0%, #ff9234 100%); */
        linear-gradient(260deg, #cb2d3e, #ef473a);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    transition-property: box-shadow, opacity;
    transition: cubic-bezier(.68,-0.55,.27,1.55);
    transition-duration: 0.5s;
}
.item:hover p {
    top: 1%;
    transition-property: top;
    transition-duration: 0.7s;
}
.item:hover .img {
    top: 10%;
    transition: top;
    transition-duration: 0.7s;
}
.item:hover a {
    top: 20%;
    opacity: 1;
    transition-property: top, opacity;
    transition-duration: 1.5s;
}

@media screen and (max-width:1200px) {
    .moveCar {
        justify-content: center;
    }
    .moveCar h1 {
        width: 100%;   
        margin-top: 50px;
        color: black;
        font-size: 50px;
        text-align: center;
        margin-right: 0;
    }
    .moveCar img{
        flex-basis: 100%;
        position: absolute;
        width: 500px;
        opacity: 0.2;
        padding-right: 0;
        z-index: -1;
    }
}
@media screen and (max-width:500px) {
    .moveCar h1 {
        letter-spacing: 0.1em;
    }
    .moveCar img{
        width: 400px;
        display: none;
    }
}
@media screen and (max-width:1399px) {
    .background-screen img {
        flex-basis: auto;
        width: 691.5px;
        height: 390.5px;
        align-self: center;
    }
}
@media screen and (max-width:707px) {
    .background-screen img {
        flex-basis: auto;
        width: 345px;
        height: 195.25px;
        align-self: center;
    }
}
 /* //////////////////////////////////////////////////////////////////////////////// */

.container-focus {
    position: relative;
    width: 75%;
    /* left: 11%; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    /* background-color: #333333AA; */
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 15px;
    border:  5px ridge#595959;
    margin-top: 5%;
    padding: 1%;
    z-index: 1;
    animation: transition1;
    animation-duration: 1s;
}
@keyframes transition1 {
    from { width: 50%; max-height: 471.9px; }
    to   { width: 75%; max-height: 471.9px;}
}
.asterix {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.asterix h4 {
    /* width: 100%; */
    padding-top: 50px;
    color: white;
    animation: transition5;
    animation-duration: 1s;
}
.asterix a {
    padding-top: 50px;
    color: white;
    font-weight: bolder;
    animation: transition5;
    animation-duration: 1s;  
}
@media screen and (max-width:1200px) {
    .asterix {
        flex-direction: column;
    }
}
@keyframes transition5 {
    from { opacity: 0;}
    50% { opacity: 0;}
    to   { opacity: 1;}
}
.container-focus img {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.3;
    right: 3px;
    bottom: 3px;
    z-index: -1;
}

.plus {
    place-self: center;
    color: white;
    font-size: 40px;
    animation: transition2;
    animation-duration: 1s;
}

.close {
    position: absolute;
    font-size: 30px;
    background: linear-gradient(to bottom, #cb2d3e, #ef473a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 0;
    left: 10px;
    font-size: 25px;
}
.close:hover {
    transform: scale(1.1);
    background: linear-gradient(to bottom, #cb2d3e, #ef473a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.title {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 15px;
    font-size: 30px;
}

.focus-first {
    padding-left: 1.5%;
    flex-basis: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    /* border-right: 1px solid; */
    border-left: 2px solid;
    animation: transition3;
    animation-duration: 1s;
}
@keyframes transition3 {
    from { 
        flex-basis: 0%;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to   { 
        flex-basis: 49%;
        opacity: 1;
    }
}

.focus-second {
    flex-basis: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    /* border-left: 1px solid; */
    border-right: 2px solid;
    animation: transition4;
    animation-duration: 1s;
}
@keyframes transition4 {
    from { 
        flex-basis: 0%;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to   { 
        flex-basis: 49%;
        opacity: 1;
    }
}

.focus-head {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
    font-size: 25px;
}
.content {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    animation: transition2;
    animation-duration: 1s;
}
@keyframes transition2 {
    from { 
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to   { 
        opacity: 1;
    }
}

.content p {
    flex-basis: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
.content h3 {
    flex-basis: 100%;
    margin-top: 10px;
    text-align: center;
}
.content h3:last-child {
    padding-top: 15px;
}

@media screen and (max-width: 1592px) {
    .container-focus {
        flex-direction: column;
        margin-bottom: 5%;
    }
    @keyframes transition1 {
        from { width: 50%;}
        to   { width: 75%;}
    }
    .focus-first {
        border-right: none;
        border-left: none;
        border-top: 2px solid;
        border-bottom: 2px solid;
    }
    .focus-second {
        border-right: none;
        border-left: none;
        border-top: 2px solid;
        border-bottom: 2px solid;
    }
}
@media screen and (max-width: 450px) {
    .container-focus {
        width: 95%;
    }
    @keyframes transition1 {
        from { width: 50%; }
        to   { width: 95%; }
    }
}
@media screen and (max-width: 400px) {
    .focus-head {
        font-size: 20px;
    }
}